/*
#660087 - lite purple
#3c1053 - dark purple

*/


body {
	background: #faf9fb !important;
}

a, a:link, a:visited {
	color: #333;
}

a.btn-success, a.btn-success:link, a.btn-success:visited
{
	color: #fff;
}

a:hover {
	color: #660087 !important;
}


/*.sidebar {
    background-color: #660087 !important;
}*/	

.nav-sidebar a {
	color: #eee;
}

.of2 > .nav-sidebar > li > ul > li > a,
.nav-sidebar > li > a:hover,
.nav-sidebar a:hover {
	color: #fff !important;
	background-color: #3c1053 !important;
}

.of2 > .nav-sidebar > li > ul > li > a:hover {	
/* 	color: #fff !important; */
	background-color: #3c1053 !important;	
}

.navbar-inverse {
	background-color: #3c1053 !important;	
}

.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus,
.dropdown-menu>li>a:hover {
	background-color: #660087 !important;
	color: #fff !important;
}

.btn-primary {
    background-color: #660087 !important;
	border-color: #660087 !important;	
	color: #fff !important;
}

.btn-primary:hover {
	background-color: #3c1053 !important;	
	border-color: #3c1053 !important;
	color: #fff !important;
}

.btn-default, .btn-info {
    background-color: #3c1053 !important;	
	border-color: #3c1053 !important;		
	color: #fff !important;
}

.btn-default:hover {
    background-color: #660087 !important;	
	border-color: #660087 !important;	
	color: #fff !important;
}



.panel-primary {
	border-color: #660087 !important;		
}

.panel-primary>.panel-heading {
    background-color: #660087 !important;
	border-color: #660087 !important;		
	color: #fff !important;
}

.panel-primary>.panel-heading:hover {
    background-color: #3c1053 !important;
	border-color: #3c1053 !important;		
	color: #fff !important;
}

.panel-primary>.panel-heading a:hover {
	color: #fff !important;	
}

.nav-tabs>li>a:hover {
	color: #3c1053 !important;
}

.pagination>li>a, .pagination>li>span, .pagination>li>a, .pagination>li>span {
	color: #3c1053 !important;	
	border-color: #660087 !important;	
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	border-color: #3c1053 !important;	
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #660087 !important;		
}
