html {
    font-size:  inherit !important;
}
.tsp_sales-item-quantity {
	text-align: center;
	width: 60px !important;
}
.tsp_body {
	background: #faf9fb !important;
    
}

.tsp_body .page-content h1, .tsp_body .page-content h2, .tsp_body .page-content h3, .tsp_body .page-content h4, .tsp_body .page-content h5, .tsp_body .page-content h6,
.tsp_body .page-content .h1, .tsp_body .page-content .h2, .tsp_body .page-content .h3, .tsp_body .page-content .h4, .tsp_body .page-content .h5, .tsp_body .page-content .h6 {
    font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 500 !important;
    line-height: inherit !important;
    color: inherit !important;
}

.tsp_body .list-unstyled {
	list-style: none !important;
}

#tsp-tab-content table, th, td {
    border: none;
}
.tsp_body .tab-content h4, .tsp_body .tab-content .h4 {
    font-size: 18px !important;
}
.tsp_body button, .tsp_body button[disabled]:hover, .tsp_body button[disabled]:focus, .tsp_body input[type="button"], .tsp_body input[type="button"][disabled]:hover, .tsp_body input[type="button"][disabled]:focus, .tsp_body input[type="reset"], .tsp_body input[type="reset"][disabled]:hover, .tsp_body input[type="reset"][disabled]:focus, .tsp_body input[type="submit"], .tsp_body input[type="submit"][disabled]:hover, .tsp_body input[type="submit"][disabled]:focus {
    text-transform:none;
}

.no-sidebar .entry-content, .tsp_body .no-sidebar .page-header {
   margin-right: 0 !important;
    margin-left: 0 !important; 
}

.no_border_top>th{
   font-weight: normal;
}

.no_bold>th{
   font-weight: normal;
}

.d-none {
   display: none !important;
}

.tsp_body .navbar-nav li a, #m-dd li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}
.tsp_body .nav-sidebar a {
	color: #eee;
}

.tsp_body .page-header {
    border-top: 0px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

.tsp_body .page-header h2 {
    margin-bottom: 10px !important;
}

.tsp_body .tsp-header {
    padding-left:20px;
    min-height: 20px;
}

.tsp_body .entry-content .nav a {
    box-shadow: none !important;
}
.tsp_body .nav-pills {
   margin-bottom:16px;
   margin-left: 0px;
}
.tsp_body .tab-pane {
    padding-top:0px;
}

.tsp_body .nav-tabs {
    padding: 0px !important;
}

.tsp_body .form-signin {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}

.tsp_body div.schedule {
	margin: 4px;
	padding: 10px 30px;
	border: 1px;
	border-bottom: 1px solid silver;
}
.tsp_body div.schedule h3 {
	margin-bottom: 10px;		
}
.tsp_body div.schedule h4 {
	color: gray !important;
    text-transform: none;
}

.tsp_body div.tab-content h3 {
	margin-bottom: 10px;
}
.tsp_body div.tab-content h4 {
	margin: 15px 0 !important;
}
.tsp_body div.tab-content span {
	font-weight: 400;
}

#tsp_calendar {
    margin-top:30px;
}
#tsp_loading {
	position: fixed;
	top: 30%;
	right: 47%;
	z-index: 9999;
	display: none;
}

.tsp_body .modal-title {
    margin: 0px !important;
    display: inline-block;
}

.tsp_body .modal-body ul, .modal-body ol {
    margin-left:20px;
}

.tsp_body div.tab-content span {
    font-weight: 400;
}

.tsp_body .signature canvas {
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Class list */
/* bootstrap: fix content width inside hidden tabs */
.tsp_body .classes-list > .tab-pane:not(.active),
.tsp_body .classes-list > .pill-pane:not(.active),
.tsp_body .finance-tabs > .tab-pane:not(.active),
.tsp_body .finance-tabs > .pill-pane:not(.active){
    display: none !important;
    overflow-y: hidden;
     overflow-x: hidden;
    padding:0px;
}
.finance-tabs .table {
   margin-top: 20px;
}
.finance-tabs .table th {
   padding: 0.75rem;
   border-top: 1px solid #dee2e6 !important;
}
/* bootstrap hack end */
.tsp_body #current-date {
	display: inline-block; 
	height: 22px;
    width: 240px;
}
.tsp_body #current-date input[name=currentdate] {
	border: 0 !important;
	background-color: transparent;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	-webkit-box-shadow: none;
}
.tsp_body #current-date input[name=currentdate]:hover {
	text-decoration: underline;
}

.tsp_body .fc-day-grid-event .fc-content {
   white-space: normal;
   color: #fff;
   font-size: 1.1em;
}

.fc-day-grid-event .fc-time {
   font-weight: 700px;
}

@media only screen and (min-width:769px) {
	.tsp_body #current-date input[name=currentdate] {
		font-size: 14pt;
	}
}
@media only screen and (max-width:768px) {
	.tsp_body #current-date input[name=currentdate] {
		font-size: 11pt;
	}
    
    .tsp_body .table_mobile_block > tbody > tr > td {
        display:inline-block;
        border:none !important;
    }
    
    .tsp_body .table_mobile_block > thead > tr > th{
        display:none;
        border:none !important;
    }
    
    .tsp_body div.tab-content .schedule .book-now {
        top:0px;
        float:left;
        margin-bottom:0px
    }
}