/*
#660087 - lite purple
#3c1053 - dark purple

*/


.tsp_body a, .tsp_body a:link, .tsp_body a:visited {
	color: #333;
}

.tsp_body a.btn-success, a.btn-success:link, a.btn-success:visited
{
	color: #fff;
}

.tsp_body a:hover {
	color: #660087 !important;
}


/*.sidebar {
    background-color: #660087 !important;
}*/	

.tsp_body .nav-sidebar a {
	color: #eee;
}

.tsp_body .of2 > .nav-sidebar > li > ul > li > a,
.tsp_body .nav-sidebar > li > a:hover,
.tsp_body .nav-sidebar a:hover {
	color: #fff !important;
	background-color: #3c1053 !important;
}

.tsp_body .of2 > .nav-sidebar > li > ul > li > a:hover {	
/* 	color: #fff !important; */
	background-color: #3c1053 !important;	
}

.tsp_body .navbar-inverse {
	background-color: #3c1053 !important;	
}

.tsp_body .navbar-inverse .navbar-nav>li>a:hover, 
.tsp_body .navbar-inverse .navbar-nav>li>a:focus,
.tsp_body .dropdown-menu>li>a:hover {
	background-color: #660087 !important;
	color: #fff !important;
}

.tsp_body .btn-primary {
    background-color: #660087 !important;
	border-color: #660087 !important;	
	color: #fff !important;
}

.tsp_body .btn-primary:hover {
	background-color: #3c1053 !important;	
	border-color: #3c1053 !important;
	color: #fff !important;
}

.tsp_body .btn-default, .tsp_body .btn-info {
    background-color: #3c1053 !important;	
	border-color: #3c1053 !important;		
	color: #fff !important;
}

.tsp_body .btn-default:hover {
    background-color: #660087 !important;	
	border-color: #660087 !important;	
	color: #fff !important;
}



.tsp_body .panel-primary {
	border-color: #660087 !important;		
}

.tsp_body .panel-primary>.panel-heading {
    background-color: #660087 !important;
	border-color: #660087 !important;		
	color: #fff !important;
}

.tsp_body .panel-primary>.panel-heading:hover {
    background-color: #3c1053 !important;
	border-color: #3c1053 !important;		
	color: #fff !important;
}

.tsp_body .panel-primary>.panel-heading a:hover {
	color: #fff !important;	
}

.tsp_body .nav-tabs>li>a:hover {
	color: #3c1053 !important;
}

.tsp_body .pagination>li>a, .tsp_body .pagination>li>span, .tsp_body .pagination>li>a, .tsp_body .pagination>li>span {
	color: #3c1053 !important;	
	border-color: #660087 !important;	
}

.tsp_body .pagination>li>a:hover, .tsp_body .pagination>li>span:hover, .tsp_body .pagination>li>a:focus, .tsp_body .pagination>li>span:focus {
	border-color: #3c1053 !important;	
}


.tsp_body .navbar-inverse .navbar-nav>.active>a, .tsp_body .navbar-inverse .navbar-nav>.active>a:hover, .tsp_body .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #660087 !important;		
}
